# Django
*.log
*.pot
*.py[cod]
__pycache__/
*.pyo
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Environments
.env
.env.*
!.env.example
venv/
.venv/
env/
ENV/

# IDE / Editor
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Node
node_modules/

# Java/Maven
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db